@charset "UTF-8";

#contact {
    height: 100vh;
}

.contact_inner{
    width: 100%;
    height: 100%;
    padding: 16px;
    
    .contact_title {
        font-size: 10vw;
        font-weight: 700;
        line-height: 1;
        text-indent: -0.5vw;
        letter-spacing: 0.5vw;
        margin-bottom: 10px;
    }
}