@charset "UTF-8";

// Noto Sans KR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
// Nanum Gothic
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap');
// Gothic
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.kr {
    font-family: "Noto Sans KR", sans-serif;
}
.gothic {
    font-family: "Gothic", sans-serif;
}
.nanum {
    font-family: "Nanum Gothic", sans-serif;
}
.mont {
    font-family: "Montserrat", sans-serif;
}
.lato {
    font-family: "Lato", sans-serif;
}