@charset "UTF-8";

:root {
    // font
    --mainEng-font: "Montserrat";
    --mainKor-font: "Gothic";

    // backgound color
    --mainBg-color: #efe2d3;
    --subBg100: #d8ccbe;
    --subBg200: #fff;
    --subBg400: #333;


    // color
    --main-color: #CE453B;
    --white: #fff;
    --black: #555;
    --black100: #333;
    --black200: #777;
    --black300: #aaa;
    --black400: #eee;

    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}

body {
    background-color: var(--mainBg-color);
}