@charset "UTF-8";

:root {
    // font
    --mainEng-font: "Montserrat";
    --mainKor-font: "Gothic";

    // backgound color
    --mainBg-color: #272727;
    --subB100: #fff;
    --subBg200: #eee;
    --subBg300: #777;
    --subBg400: #555;
    --subBg500: #333;
    --subBg600: #0f0f0f;


    // color
    --main-color: #e1e1e1;
    --white: #fff;
    --black: #222;
    --black100: #555;
    --black200: #888;
    --black300: #aaa;

    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}

body {
    color: var(--main-color);
    background-color: var(--mainBg-color);
}